body{
    background-color:rgb(155, 248, 248);
    color: rgb(5, 5, 46);
    font-family: Helvetica;
    font-size: 23px;
    font-weight: 800;
    font-style: oblique;
}

img{
    border: 10px;
    border-radius :20px;
    border-color:darkblue;
    animation-name: example;
    animation-iteration-count: infinite;
    width: 200px;
    height: 200px;

}
@keyframes example{
    from {box-shadow: 1px 1px 38px rgb(40, 102, 194);}
    to {box-shadow:  1px 1px 38px darkblue;}
}
#google_lens_img{
    width: 80px;
    height: 80px;
    border-radius: 30px;
}
h1{
    background-color: white;
    border-radius: 20px;
    width: 300px;
    font-family: Impact;
    color: red;
}
.conclusion{background-color:rgb(71, 68, 236);
    color: rgb(245, 245, 252);
    font-size: 25px;
    letter-spacing:normal;
    white-space: pre-line;
}
.copy_right_footer{
    background-color: blue;
    width:50%;
    color: #eeebeb;
}